<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xiazhenjie.anim">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.AnimDemo">
        <activity android:name=".MainActivity">

        </activity>
        <activity android:name=".TweenAnimationActivity"
            android:label="补间动画">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".PropertyAnimationActivity"
            android:label="属性动画"/>
    </application>

</manifest>